{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!
{% endblock %}

{% block body %}
	<div class="d-none d-lg-block" style="width:248;height:30">
		<img class="card-img-top" src="{{ asset('img/homepage.jpg') }}">
	</div>
{% endblock %}
