{% extends 'base.html.twig' %}

{% block title %}New Mark{% endblock %}

{% block body %}
    <h1>Create new Mark</h1>
     <div class="gap-2 col-2 mx-auto d-md-block">
    {{ include('mark/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_mark_index') }}">back to list</a>
    </div>
{% endblock %}
